#Standard files
*.swp

lib/JEvalResp.jar

#Build files
build/
*.class
**/**/classes
lib/backup/
logs/
src/META_INF/
xmax.jar
.gradle

#Javadoc build files
doc/

#Eclipse files
/bin/
.classpath
.project
.settings

#Intellij files
.idea/
xmax.iml
out/
