# configuration tool re-written each time
config.xml

#Standard files
*.swp
*.DS_Store

lib/JEvalResp.jar

#Build files
gradle/*
build/
*.class
**/**/classes
lib/backup/
logs/
src/META_INF/
xmax.jar
.gradle
gradle.properties

#Javadoc build files
doc/

#Eclipse files
/bin/
.classpath
.project
.settings

#Intellij files
.idea/
xmax.iml
out/
